flow.json
[{"id":"cb03a6ee.c51ce8","type":"tab","label":"Deurbel","disabled":false,"info":""},{"id":"84c236a0.d32b58","type":"subflow","name":"Google Nest Cast","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"b1fbd0ed.c429b"},{"id":"bf1f8fee.78142"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"de319c5b.99093","type":"mqtt-broker","z":"","name":"adafruit","broker":"io.adafruit.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"20de086c.b792d8","type":"ui_group","z":"","name":"Deurbel","tab":"bef31c80.7afc7","disp":true,"width":"6","collapse":false},{"id":"bef31c80.7afc7","type":"ui_tab","z":"","name":"Deurbel","icon":"dashboard","disabled":false,"hidden":false},{"id":"a6fb0933.f024a8","type":"mqtt-broker","z":"","name":"beating-heart-mqtt","broker":"192.168.1.201","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3ebf4341.e571dc","type":"cast-to-client","z":"84c236a0.d32b58","name":"Google Nest Mini Black","url":"","contentType":"","message":"","language":"","ip":"192.168.1.230","port":"","volume":"","x":390,"y":80,"wires":[[]]},{"id":"f9ffe2f3.6dfa5","type":"cast-to-client","z":"84c236a0.d32b58","name":"Google Nest Mini White","url":"","contentType":"","message":"","language":"nl","ip":"192.168.1.231","port":"","volume":"","x":390,"y":140,"wires":[[]]},{"id":"b1fbd0ed.c429b","type":"change","z":"84c236a0.d32b58","name":"set volume","rules":[{"t":"set","p":"payload.volume","pt":"msg","to":"20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["3ebf4341.e571dc"]]},{"id":"bf1f8fee.78142","type":"change","z":"84c236a0.d32b58","name":"set volume","rules":[{"t":"set","p":"payload.volume","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":140,"wires":[["f9ffe2f3.6dfa5"]]},{"id":"85b53517.1d2558","type":"mqtt out","z":"cb03a6ee.c51ce8","name":"","topic":"striva/f/deurbel","qos":"1","retain":"","broker":"a6fb0933.f024a8","x":460,"y":60,"wires":[]},{"id":"73d4d693.890d58","type":"inject","z":"cb03a6ee.c51ce8","name":"Push","topic":"deurbel","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":80,"wires":[["85b53517.1d2558"]]},{"id":"ecb93435.c49ff8","type":"mqtt in","z":"cb03a6ee.c51ce8","name":"","topic":"striva/f/deurbel","qos":"1","datatype":"json","broker":"a6fb0933.f024a8","x":120,"y":200,"wires":[["de009c82.fc62b"]]},{"id":"de009c82.fc62b","type":"change","z":"cb03a6ee.c51ce8","name":"set msg.payload for deurbel","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"message\":\"Woop woop, my heart is beating!\",\"language\":\"en\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":200,"wires":[["e0a02e6d.3f02e"]]},{"id":"82f0876.2544478","type":"ui_button","z":"cb03a6ee.c51ce8","name":"","group":"20de086c.b792d8","order":5,"width":0,"height":0,"passthru":false,"label":"Belleke","tooltip":"","color":"","bgcolor":"","icon":"fa-bell","payload":"true","payloadType":"bool","topic":"deurbel","x":220,"y":40,"wires":[["85b53517.1d2558"]]},{"id":"e0a02e6d.3f02e","type":"subflow:84c236a0.d32b58","z":"cb03a6ee.c51ce8","name":"","x":610,"y":200,"wires":[]}]