flow.json
[{"id":"cb03a6ee.c51ce8","type":"tab","label":"Deurbel","disabled":false,"info":""},{"id":"81b232fa.7ea2a","type":"tab","label":"Lichten","disabled":false,"info":""},{"id":"84c236a0.d32b58","type":"subflow","name":"Google Nest Cast","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"b1fbd0ed.c429b"},{"id":"55e56a51.8616e4"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"bef31c80.7afc7","type":"ui_tab","z":"","name":"Deurbel","icon":"dashboard","disabled":false,"hidden":false},{"id":"a6fb0933.f024a8","type":"mqtt-broker","z":"","name":"beating-heart-mqtt","broker":"192.168.1.201","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"edaa9f3b.acba7","type":"telegrambot-config","z":"","botname":"Beating Heart","usernames":"TomKnapen","chatIds":"932931836","pollInterval":"300"},{"id":"3ebf4341.e571dc","type":"cast-to-client","z":"84c236a0.d32b58","name":"Google Nest Mini Black","url":"","contentType":"","message":"","language":"","ip":"192.168.1.230","port":"","volume":"","x":850,"y":300,"wires":[[]]},{"id":"f9ffe2f3.6dfa5","type":"cast-to-client","z":"84c236a0.d32b58","name":"Google Nest Mini White","url":"","contentType":"","message":"","language":"nl","ip":"192.168.1.231","port":"","volume":"","x":850,"y":360,"wires":[[]]},{"id":"b1fbd0ed.c429b","type":"change","z":"84c236a0.d32b58","name":"set volume","rules":[{"t":"set","p":"payload.volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[["3ebf4341.e571dc"]]},{"id":"bf1f8fee.78142","type":"change","z":"84c236a0.d32b58","name":"set volume","rules":[{"t":"set","p":"payload.volume","pt":"msg","to":"20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":360,"wires":[["f9ffe2f3.6dfa5"]]},{"id":"85b53517.1d2558","type":"mqtt out","z":"cb03a6ee.c51ce8","name":"","topic":"striva/f/deurbel","qos":"1","retain":"","broker":"a6fb0933.f024a8","x":280,"y":60,"wires":[]},{"id":"73d4d693.890d58","type":"inject","z":"cb03a6ee.c51ce8","name":"Push","topic":"deurbel","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["85b53517.1d2558"]]},{"id":"ecb93435.c49ff8","type":"mqtt in","z":"cb03a6ee.c51ce8","name":"","topic":"striva/f/deurbel","qos":"1","datatype":"json","broker":"a6fb0933.f024a8","x":120,"y":200,"wires":[["de009c82.fc62b"]]},{"id":"de009c82.fc62b","type":"change","z":"cb03a6ee.c51ce8","name":"Chime","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"message\":\"Ding dong\",\"language\":\"en\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":200,"wires":[["e0a02e6d.3f02e","c2e443bc.18aa2"]]},{"id":"e0a02e6d.3f02e","type":"subflow:84c236a0.d32b58","z":"cb03a6ee.c51ce8","name":"","env":[],"x":470,"y":200,"wires":[]},{"id":"55e56a51.8616e4","type":"time-range-switch","z":"84c236a0.d32b58","name":"08:00 - 19:00","lat":"","lon":"","startTime":"08:00","endTime":"19:00","startOffset":0,"endOffset":0,"x":410,"y":360,"wires":[["bf1f8fee.78142"],[]]},{"id":"c2e443bc.18aa2","type":"telegrambot-notify","z":"cb03a6ee.c51ce8","name":"Send message to Tom","bot":"edaa9f3b.acba7","chatId":"932931836","message":"Someone's at the door!","parseMode":"","x":480,"y":280,"wires":[]},{"id":"9a6d425c.fbd2","type":"inject","z":"81b232fa.7ea2a","name":"0: on","topic":"","payload":"{\"index\":0,\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["e71bcf43.55a15"]]},{"id":"c677029f.85273","type":"mqtt out","z":"81b232fa.7ea2a","name":"","topic":"","qos":"","retain":"","broker":"a6fb0933.f024a8","x":450,"y":180,"wires":[]},{"id":"e71bcf43.55a15","type":"template","z":"81b232fa.7ea2a","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"lights/{{payload.index}}","output":"str","x":300,"y":180,"wires":[["c677029f.85273","a90a7f56.5b417"]]},{"id":"ee5201d.98cba","type":"inject","z":"81b232fa.7ea2a","name":"1: on","topic":"","payload":"{\"index\":1,\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["e71bcf43.55a15"]]},{"id":"3a8048eb.eda318","type":"inject","z":"81b232fa.7ea2a","name":"2: on","topic":"","payload":"{\"index\":2,\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["e71bcf43.55a15"]]},{"id":"c5007774.0e81b8","type":"inject","z":"81b232fa.7ea2a","name":"3: on","topic":"","payload":"{\"index\":3,\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["e71bcf43.55a15"]]},{"id":"28444f57.332e3","type":"inject","z":"81b232fa.7ea2a","name":"0: off","topic":"","payload":"{\"index\":0,\"state\":\"OFF\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":200,"wires":[["e71bcf43.55a15"]]},{"id":"cefe7f38.47633","type":"inject","z":"81b232fa.7ea2a","name":"1: off","topic":"","payload":"{\"index\":1,\"state\":\"OFF\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["e71bcf43.55a15"]]},{"id":"aa9ae764.8bd488","type":"inject","z":"81b232fa.7ea2a","name":"2: off","topic":"","payload":"{\"index\":2,\"state\":\"OFF\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["e71bcf43.55a15"]]},{"id":"209e7eb9.d569a2","type":"inject","z":"81b232fa.7ea2a","name":"3: off","topic":"","payload":"{\"index\":3,\"state\":\"OFF\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["e71bcf43.55a15"]]},{"id":"a90a7f56.5b417","type":"debug","z":"81b232fa.7ea2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":480,"y":320,"wires":[]}]