flow.json
[{"id":"cb03a6ee.c51ce8","type":"tab","label":"Deurbel","disabled":false,"info":""},{"id":"81b232fa.7ea2a","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"c123c82a.2bd618","type":"tab","label":"WLED","disabled":false,"info":""},{"id":"84c236a0.d32b58","type":"subflow","name":"Google Nest Cast","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"b1fbd0ed.c429b"},{"id":"55e56a51.8616e4"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"bef31c80.7afc7","type":"ui_tab","z":"","name":"Deurbel","icon":"dashboard","disabled":false,"hidden":false},{"id":"a6fb0933.f024a8","type":"mqtt-broker","z":"","name":"beating-heart-mqtt","broker":"192.168.1.201","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"edaa9f3b.acba7","type":"telegrambot-config","z":"","botname":"Beating Heart","usernames":"TomKnapen","chatIds":"932931836","pollInterval":"300"},{"id":"3ebf4341.e571dc","type":"cast-to-client","z":"84c236a0.d32b58","name":"Google Nest Mini Black","url":"","contentType":"","message":"","language":"","ip":"192.168.1.230","port":"","volume":"","x":850,"y":300,"wires":[[]]},{"id":"f9ffe2f3.6dfa5","type":"cast-to-client","z":"84c236a0.d32b58","name":"Google Nest Mini White","url":"","contentType":"","message":"","language":"nl","ip":"192.168.1.231","port":"","volume":"","x":850,"y":360,"wires":[[]]},{"id":"b1fbd0ed.c429b","type":"change","z":"84c236a0.d32b58","name":"set volume","rules":[{"t":"set","p":"payload.volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[["3ebf4341.e571dc"]]},{"id":"bf1f8fee.78142","type":"change","z":"84c236a0.d32b58","name":"set volume","rules":[{"t":"set","p":"payload.volume","pt":"msg","to":"20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":360,"wires":[["f9ffe2f3.6dfa5"]]},{"id":"85b53517.1d2558","type":"mqtt out","z":"cb03a6ee.c51ce8","name":"","topic":"striva/f/deurbel","qos":"1","retain":"","broker":"a6fb0933.f024a8","x":280,"y":60,"wires":[]},{"id":"73d4d693.890d58","type":"inject","z":"cb03a6ee.c51ce8","name":"Push","topic":"deurbel","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["85b53517.1d2558"]]},{"id":"ecb93435.c49ff8","type":"mqtt in","z":"cb03a6ee.c51ce8","name":"","topic":"striva/f/deurbel","qos":"1","datatype":"json","broker":"a6fb0933.f024a8","x":120,"y":200,"wires":[["de009c82.fc62b"]]},{"id":"de009c82.fc62b","type":"change","z":"cb03a6ee.c51ce8","name":"Chime","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"message\":\"Ding dong\",\"language\":\"en\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":200,"wires":[["e0a02e6d.3f02e","c2e443bc.18aa2","e5d88cf1.def83"]]},{"id":"e0a02e6d.3f02e","type":"subflow:84c236a0.d32b58","z":"cb03a6ee.c51ce8","name":"","env":[],"x":470,"y":200,"wires":[]},{"id":"55e56a51.8616e4","type":"time-range-switch","z":"84c236a0.d32b58","name":"08:00 - 19:00","lat":"","lon":"","startTime":"08:00","endTime":"19:00","startOffset":0,"endOffset":0,"x":410,"y":360,"wires":[["bf1f8fee.78142"],[]]},{"id":"c2e443bc.18aa2","type":"telegrambot-notify","z":"cb03a6ee.c51ce8","name":"Send message to Tom","bot":"edaa9f3b.acba7","chatId":"932931836","message":"Someone's at the door!","parseMode":"","x":480,"y":280,"wires":[]},{"id":"9a6d425c.fbd2","type":"inject","z":"81b232fa.7ea2a","name":"0: on","topic":"","payload":"{\"index\":0,\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["e71bcf43.55a15"]]},{"id":"c677029f.85273","type":"mqtt out","z":"81b232fa.7ea2a","name":"","topic":"","qos":"","retain":"","broker":"a6fb0933.f024a8","x":810,"y":180,"wires":[]},{"id":"e71bcf43.55a15","type":"template","z":"81b232fa.7ea2a","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"lights/{{payload.index}}","output":"str","x":300,"y":180,"wires":[["efddfc14.0fdee"]]},{"id":"ee5201d.98cba","type":"inject","z":"81b232fa.7ea2a","name":"1: on","topic":"","payload":"{\"index\":1,\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["e71bcf43.55a15"]]},{"id":"3a8048eb.eda318","type":"inject","z":"81b232fa.7ea2a","name":"2: on","topic":"","payload":"{\"index\":2,\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["e71bcf43.55a15"]]},{"id":"c5007774.0e81b8","type":"inject","z":"81b232fa.7ea2a","name":"3: on","topic":"","payload":"{\"index\":3,\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["e71bcf43.55a15"]]},{"id":"28444f57.332e3","type":"inject","z":"81b232fa.7ea2a","name":"0: off","topic":"","payload":"{\"index\":0,\"state\":\"OFF\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":200,"wires":[["e71bcf43.55a15"]]},{"id":"cefe7f38.47633","type":"inject","z":"81b232fa.7ea2a","name":"1: off","topic":"","payload":"{\"index\":1,\"state\":\"OFF\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["e71bcf43.55a15"]]},{"id":"aa9ae764.8bd488","type":"inject","z":"81b232fa.7ea2a","name":"2: off","topic":"","payload":"{\"index\":2,\"state\":\"OFF\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["e71bcf43.55a15"]]},{"id":"209e7eb9.d569a2","type":"inject","z":"81b232fa.7ea2a","name":"3: off","topic":"","payload":"{\"index\":3,\"state\":\"OFF\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["e71bcf43.55a15"]]},{"id":"a90a7f56.5b417","type":"debug","z":"81b232fa.7ea2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":100,"wires":[]},{"id":"efddfc14.0fdee","type":"change","z":"81b232fa.7ea2a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":180,"wires":[["c677029f.85273","a90a7f56.5b417"]]},{"id":"b58648fb.5d4ea8","type":"webhookrelay","z":"81b232fa.7ea2a","buckets":"ifttt","x":80,"y":500,"wires":[["a43b91cf.516a2"]]},{"id":"e3a02c90.ce286","type":"debug","z":"81b232fa.7ea2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":440,"wires":[]},{"id":"b368aefd.13248","type":"json","z":"81b232fa.7ea2a","name":"","property":"payload","action":"","pretty":false,"x":520,"y":500,"wires":[["c7ac5338.7b993"]]},{"id":"c7ac5338.7b993","type":"switch","z":"81b232fa.7ea2a","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"lights_livingroom_on","vt":"str"},{"t":"eq","v":"lights_livingroom_off","vt":"str"},{"t":"eq","v":"lights_kitchen_on","vt":"str"},{"t":"eq","v":"lights_kitchen_off","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":250,"y":560,"wires":[["25c0d12f.e1fd8e"],["a9009f54.7655f"],["f5cc80ab.3b33e"],["7b9e535e.04779c"]]},{"id":"25c0d12f.e1fd8e","type":"change","z":"81b232fa.7ea2a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"lights/0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":640,"wires":[["a90a7f56.5b417","c677029f.85273"]]},{"id":"a9009f54.7655f","type":"change","z":"81b232fa.7ea2a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"lights/0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":680,"wires":[["a90a7f56.5b417","c677029f.85273"]]},{"id":"f5cc80ab.3b33e","type":"change","z":"81b232fa.7ea2a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"lights/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":720,"wires":[["a90a7f56.5b417","c677029f.85273"]]},{"id":"7b9e535e.04779c","type":"change","z":"81b232fa.7ea2a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"lights/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":760,"wires":[["a90a7f56.5b417","c677029f.85273"]]},{"id":"a43b91cf.516a2","type":"change","z":"81b232fa.7ea2a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":500,"wires":[["e3a02c90.ce286","b368aefd.13248"]]},{"id":"9bc40078.8a385","type":"inject","z":"c123c82a.2bd618","name":"Preset 12","topic":"","payload":"PL=12","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["fc42c45b.b19048"]]},{"id":"fc42c45b.b19048","type":"mqtt out","z":"c123c82a.2bd618","name":"WLED","topic":"wled/b3cd8d/api","qos":"1","retain":"true","broker":"a6fb0933.f024a8","x":340,"y":80,"wires":[]},{"id":"e21f0f0b.51d29","type":"inject","z":"c123c82a.2bd618","name":"On/off","topic":"","payload":"T=2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["fc42c45b.b19048"]]},{"id":"bd412546.7c80d8","type":"inject","z":"c123c82a.2bd618","name":"Preset 15","topic":"","payload":"PL=15","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["fc42c45b.b19048"]]},{"id":"e5d88cf1.def83","type":"telegrambot-notify","z":"cb03a6ee.c51ce8","name":"Send message to Kirsten","bot":"edaa9f3b.acba7","chatId":"1014836535","message":"Someone's at the door!","parseMode":"","x":490,"y":340,"wires":[]}]